body {
    background: linear-gradient(45deg, rgba(0,255,179,1) 25%, rgba(47,230,251,1) 50%, rgba(69,155,255,1) 75%, rgba(93,0,255,0.4326923076923077) 100%);
    justify-content: center;
    align-items: center;
    background-repeat: non-repeat;
    content: "fill";
  position: absolute;
  justify-content: center;
    align-items: center;
}
